---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import AnarenSamples from "../components/AnarenSamples.astro";
---

<Layout title="Anaren">
  <div class="max-w-screen-md m-auto p-4 my-4 antialiased">
    <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
      Anaren.com <br /><span class="text-gradient"
        >Drupal Website</span>
    </h1>

    <AnarenSamples />
    
    <p class="lead text-white">
      The space and defense company is based in East Syracuse, New York. I was
        hired to assist with their website redesign.</p>
        <br>
        <p class="text-white">The site was built using
        Drupal and a customized theme and took around 6 months. My
        responsibilities included styling the frontend and constructing data
        tables for their products. I collaborated with a team of developers,
        designers, and marketers to develop a responsive and user-friendly
        website. This project was distinctive in the sense that the site
        information was sourced from various stakeholders across different
        departments of the company.</p>

        <p class="mb-6 text-gray-300 md:text-lg">
          Anaren was <a
            href="https://www.microwavejournal.com/articles/30167-anaren-acquired-by-ttm-technologies-for-775m"
            target="_blank"
            class="underline inline"
            >acquired by TTM Technologies for $775M</a
          > shortly after we finished the website project.
        </p>

    <BackButton />
</div>
</Layout>

<style>
</style>

