---
const items = [
  "./anaren-images/1-thumb.png",
  "./anaren-images/2-thumb.png",
  "./anaren-images/3-thumb.png",
];
---

<div class="sample">
  {
    items.map((item) => (
        <img loading="lazy" class="sample" src={item} alt="Anaren sample " />
    ))
  }
</div>

<style>
  .sample {
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: auto;
  }
  @media (max-width: 768px) {
    .sample {
      display: flex;
      width: 55%;
      justify-content: left;
      flex-direction: row;
      gap: 12px;
    }
  }
</style>

