---
import { Image } from 'astro:assets';
import headshot from '../assets/headshot.webp';
---

<div class="relative flex items-center gap-x-4">
    <Image 
    src={headshot}
    densities={[1, 2, 3]}
    alt="Developers's headshot"
    class="h-12 w-12"
    />
 
  <div class="text-lg leading-6">
    <h1 class="font-semibold text-primary text-xl dark:text-white">
      <span class="absolute inset-0"></span>
      John Smith
    </h1>
    <p class="text-zinc-500 dark:text-zinc-400">Frontend web developer</p>
  </div>
</div>
