---

---

<div class="flex my-16 items-center justify-center">
    <div class="relative w-full overflow-hidden">
      <!-- For some reason the white vignette effect don't work in this sandbox but if you uncomment the following lines in VSCode, they should work -->
      
      <div class="block">
          <div class="pointer-events-none absolute -top-1 z-10 h-20 w-full bg-gradient-to-b from-zinc-950 to-transparent" />
            <div class="pointer-events-none absolute -bottom-1 z-10 h-20 w-full bg-gradient-to-t from-zinc-950 to-transparent" />
            <div class="pointer-events-none absolute -left-1 z-10 h-full w-20 bg-gradient-to-r from-zinc-950 to-transparent" />
            <div class="pointer-events-none absolute -right-1 z-10 h-full w-20 bg-gradient-to-l from-zinc-950 to-transparent" />
          </div>
    
    <div class="my-8 py-8 px-4 mb-12 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-white">Want to Work Together?</h2>
            <p class="mt-4 text-sm text-white font-light lg:text-xl mb-8">Contact me and we can chat.</p>
            <a href="#contact" class="text-black bg-stone-100 hover:bg-stone-200 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-5 py-2.5 mr-2 mb-2 dark:hover:bg-stone-200  dark:focus:ring-stone-800 industry focus:ring-4 focus:ring-blue-600">Contact Me</a>
        </div>
    </div>
</div>
</div>  

<style>
    h2{
        font-family: "IndustryBlack", sans-serif !important;
    }
</style>