---
import Socials from "../components/Social.astro";
---

<nav>
  <div>
    <a href="/">Home</a>
    <a href="about">About</a>
  </div>
  <div class="right-nav">
    <Socials />
  </div>
</nav>

<style>
  nav {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    color: #fff;
    padding: 8px;
  }
  nav > div {
    display: inline-block;
  }
  nav > div > a {
    color: #fff;
    margin-right: 12px;
  }
  .right-nav {
    float: right;
  }
  @media (max-width: 600px) {
    nav {
      padding: 8px;
    }
    nav > div {
      display: block;
    }
    .right-nav {
      float: none;
    }
    nav  {
      display: none;
    }
  }
</style>
